body {
    background-color: #666;
    background-image: url(../images/Background2.jpg);
    background-repeat: repeat;
    padding-top: 62px;
    font-family: monospace;
}

h1 {
    padding: 10px;
    font-family: fantasy;
    border-bottom: 2px solid #fff;
}

a {
    color: #ccc;
}

a:visited {
    color: #ccc;
}

/** Navbar Styles **/
.navbar {
    padding: 0px;
    background-color: #333;
}

.navbar-brand {
    padding: 5px 8px;
    margin: 0;
    height: 100%;
    font-family: fantasy;
    font-weight: 700;
    font-size: 35px;
}

.navbar-brand img {
    max-height: 35px;
}

.navbar a.nav-link {
    padding: 8px 12px !important;
    font-size: 25px;
    font-weight: 500;
}

@media (max-width: 991px) {
    .navbar a.nav-link {
        text-align: center;
    }
}

.navbar a.nav-link:hover {
    background-color: #222;
}

/** Content Styles **/
#content {
    background-color: #888;
    color: #fff;
}

@media (min-width: 576px) {
    #content {
        box-shadow: 0px 0px 12px 4px #ccc;
        z-index: -1;
    }
}

/** Footer Styles **/
#footer {
    clear: both;
    width: 100%;
    padding-top: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/***** Page-Specific Styles *****/
/** Home Styles **/
#home-image {
    width: 100%;
    margin: 15px 0px;
}

/** Schedule Styrle **/
.calendar {
    width: 100%;
    background-color: #fff;
    color: #000;
    margin: 20px 0px;
}

.calendar span.date {
    display: block;
    width: 100%;
    text-align: right;
}

.calendar span.event {
    display: block;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #000;
}

.calendar span.tournament {
    background-color: yellow;
    color: orange;
    border: 1px solid orange;
}

.calendar span.closed {
    background-color: #f99;
    color: red;
    border: 1px solid red;
}

.calendar span.open {
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
}

.calendar span.reserved {
    background-color: #666;
    color: #fff;
    border: 1px solid #000;
}

.calendar th, .calendar td {
    border: 1px solid #999;
    text-align: center;
    padding: 5px;
    width: 14.28%;
    vertical-align: text-top;
}